@import "../../responsive.scss";

.homePage{
    display: flex;
    height: 100%;
    .textContainer{
        background-color: white;
        flex: 3;
        .wrapper{
            padding-right: 100px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: 50px;
            height: 100%;



            @include md{
                padding: 0px;
            }

            @include sm{
                justify-content: flex-start;
            }

            .title{
                font-size: 64px;
                @include lg{
                    font-size: 48px;
                }

            
            }

            .boxes{
                display: flex;
                justify-content: space-between;

                @include sm{
                    display: none;
                }

                h1{
                    font-size: 36px;

                    @include lg{
                        font-size: 32px;
                    }


                }
                p{
                    font-size: 20px;
                    font-weight: 300;
                }
            }
        }
        
    }
    .imgContainer{
        position: relative;
        flex:2;
        display: flex;
        align-items: center;

        @include md{
            display: none;
        }
        img{
            width: 115%;
            position: absolute;
            right: 0%;

            @include lg{
                width: 105%;
            }
        }
    }
    background-color: #fcf5f3;
}

